body {
  margin: 0px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#map {
 position:absolute;
 top:0;
 bottom:0;
 width:100%;
}

.vendor-popup {
  height: 80px;
  width: 200px;
}

.vendor-popup a:hover {
  color: rgba(110, 204, 57, 0.6);
}


.vendor-container {
  position:absolute;
  width:200px;
  top: 15%;
  left: 5%;

}
.vendor-display {
  display: block;
  width:200px;
  margin: 10px 0;
  padding: 13px;
  background-color: #f4f4f4;
  opacity: .9;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 12px;
  line-height: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul.address {
  padding-left: 0px;
}

li.address-part {
  list-style: none;
  display: inline;
  padding-right: 10px;
  font-size: 1em;
  color: #2c3e50;
}

.vendor-name {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  color: #2c3e50;
}

.vendor-price {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #2c3e50;
}

.vendor-stats {
  z-index: 1000;
  left: 5%;
  top: 5%;
  color: #2c3e50;
  font-weight: 700;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
  position: absolute;
  font-size: 2em;
}

.search {
  z-index: 1000;
  right: 5%;
  top: 5%;
  width: 40%;
  margin: 0 0 0 10px;
  position: absolute;
  color: #2c3e50;
}

.search-nearby-form {
  float: left;
  width:100%;
}
.search-nearby-field {
  width:80%;
  font-weight: 400;
  font-size: .9em;
  background-color: #f4f4f4;
  opacity: .9;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  line-height: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.my-location {
  float: left;
  margin: 10px 0;
}

/*.location-container {
  position:absolute;
  width:200px;
  top: 10%;
  right: 5%;

}
.location-display {
  display: block;
  width:200px;
  margin: 10px 0;
  padding: 13px;
  background-color: #f4f4f4;
  opacity: .9;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 12px;
  line-height: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
*/

.footer {
  z-index: 1000;
  right: 5%;
  bottom: 5%;
  color: #2c3e50;
  font-weight: 700;
  margin: 0 0 0 10px;
  padding: 0;
  float: right;
  position: absolute;
  font-size: 1em;
}

.footer a {
  text-decoration: none;
}

.footer a:visited {
  color: #2c3e50;
}

.footer a:hover {
  color: rgba(241, 128, 23, 0.9);
}

