<div id="map"></div>
<div class="filter">
  <form class="filter-form" action='/location' method='post'>
    <input type="checkbox" name="price" value="price">Price<br>
    <input class="filter-field" type="text" name="search_location" value="Max Price">
    <input type="checkbox" name="postalcode" value="postalcode">Postal Code<br>
    <input class="filter-field" type="text" name="search_location" value="Max Price">
    <input class="filter-button" type="submit">
  </form>
</div>
<div class="search">
  <form class="search-nearby-form" action='/location' method='post'>
    <input class="search-nearby-field" type="text" name="search_location" value="Enter Your Location">
    <input class="search-button" type="submit">
  </form>
</div>
<div class="footer"><a href="https://github.com/melissa-mccoy/AtmaGo" target="_blank">View on Github</a></div>
