<div id="map"></div>
<div class="search">
  <form class="search-nearby-form" action='/location' method='post'>
    <input class="search-nearby-field" type="text" name="search_location" value="Enter Your Location">
    <input class="search-button" type="submit">
  </form>
</div>
<div class="footer"><a href="https://github.com/melissa-mccoy/AtmaGo" target="_blank">View on Github</a></div>
