<!DOCTYPE html>
<html>
<head>
  <title>AtmaGo Water Vendor Map</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="/stylesheets/map.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/MarkerCluster.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/MarkerCluster.Default.css" type="text/css" />
</head>
<body>

<%= yield %>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/mustache.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="/javascripts/leaflet.markercluster-src.js"></script>
<script src="/javascripts/_namespace.js"></script>
<script src="/javascripts/vendormap-vendor.js"></script>
<script src="/javascripts/vendormap-areas.js"></script>
<script src="/javascripts/vendormap-master-roster.js"></script>
<script src="/javascripts/vendormap-view.js"></script>
<script src="/javascripts/vendormap-controller.js"></script>
<script src="/javascripts/initialize.js"></script>
</body>
</html>
