<!DOCTYPE html>
<html>
<head>
  <title><%=@birthday_people_subject%></title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<%= yield %>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/initialize.js"></script>
</body>
</html>
